footer {
  background-color: var(--bg-grey);
  color: var(--verde-pistachio);
  font-size: 14px;
  text-align: center;
}

.footer-link {
  text-decoration: none;
  color: var(--verde-pistachio);
  font-weight: 500;
}

.footer-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-text {
    display: block;
    margin-bottom: 5px;
  }
}
