footer{
  background-color: var(--bg-grey);
}

.footer-link{
  color: var(--verde-pistachio);
  font-weight: bold;
  text-decoration: underline;
}

.footer-link:hover{
  text-decoration: underline;
}

@media(max-width: 600px){

  .footer-text{
    font-size: 0.9rem;
  }

  .ig-link{
    margin-bottom: 0.5rem;
  }
}
