<footer class="py-1">
  <div class="container d-flex justify-content-center align-items-center py-2 flex-wrap">
    <p class="m-0 footer-text mx-4"><a href="https://www.instagram.com/pistachionaturalmix/" target="_blank"
        class="nav-link ig-link"><i class="bi bi-instagram me-1"></i>pistachionaturalmix</a></p>
    <p class="m-0 footer-text mx-4"><i class="bi bi-phone"></i> 299-6357610 (Eve)</p>
    <p class="m-0 footer-text mx-4"><i class="bi bi-phone"></i> 351-5956333 (Lea)</p>
  </div>
  <p class="m-0 text-center footer-text">PISTACHIO &copy; - Creado por <a href="https://amf-dev.site/inicio"
      target="_blank" class="footer-link">Andres Mariano Fernández</a></p>
</footer>