<div class="container-fluid">
  <h3>Pedidos</h3>
  <table class="table table-sm table-striped table-hover">
    <thead>
      <tr class="text-center">
        <th>Nª Pedido</th>
        <th>Cliente</th>
        <th>Total</th>
        <th>Estado</th>
        <th>Ver</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngFor="let p of pedidos" >
        <td>{{p.numeroPedido}}</td>
        <td>{{p.usuario.nombre}} ({{p.usuario.email}})</td>
        <td>{{p.total | currency:'USD':'symbol' }}</td>
        <td>{{p.estado}}</td>
        <td>
          <span class="mx-1"><i class="bi bi-pencil"></i></span>
          <span class="mx-1"><i class="bi bi-search"></i></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>