<div class="container-fluid" style="min-height: 77.5vh;">
  <h3>Pedidos</h3>

  <div class="d-flex justify-content-between align-items-center mb-2 filtro-producto">
    <div class="d-flex align-items-center">
      <label for="nombreCliente" class="me-2">Filtrar por cliente:</label>
      <input type="text" placeholder="Buscar cliente..." class="form-control" [(ngModel)]="filtroCliente"
        (ngModelChange)="buscarPedidos()" id="nombreCliente" />
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-sm table-striped table-hover">
      <thead>
        <tr class="text-center">
          <th>N° Pedido</th>
          <th>Cliente</th>
          <th>Total</th>
          <th>Estado</th>
          <th>Ver</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" *ngFor="let p of pedidosFiltrados">
          <td>{{ p.numeroPedido }}</td>
          <td class="text-truncate" style="max-width: 200px;" title="{{p.usuario.nombre}} ({{p.usuario.email}})">
            {{ p.usuario.nombre }} ({{ p.usuario.email }})
          </td>
          <td>{{ p.total | currency:'USD':'symbol' }}</td>
          <td [ngClass]="colorEstado(p)">{{ p.estado }}</td>
          <td>
            <span class="m-1 accion-link" data-bs-toggle="modal" data-bs-target="#modalPedido" (click)="verPedido(p)">
              <i class="bi bi-search"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Tarjetas para celular -->
  <div class="d-md-none">
    <div *ngFor="let p of pedidos" class="card mb-3 p-3 shadow-sm">
      <h5 class="mb-1">Pedido #{{ p.numeroPedido }}</h5>
      <p class="mb-1"><strong>Cliente:</strong> {{ p.usuario.nombre }} ({{ p.usuario.email }})</p>
      <p class="mb-1"><strong>Total:</strong> {{ p.total | currency:'USD':'symbol' }}</p>
      <p class="mb-1"><strong>Estado:</strong> {{ p.estado }}</p>
      <div class="d-flex justify-content-end">
        <span class="mx-2 accion-link" data-bs-toggle="modal" data-bs-target="#modalPedido" (click)="verPedido(p)">
          <i class="bi bi-search"></i>
        </span>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalPedido" tabindex="-1" aria-labelledby="modalPedidoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content position-relative">
      <!-- Mensaje CANCELADO en diagonal -->
      <div *ngIf="pedidoSeleccionado.estado === 'CANCELADO'" class="cancelado-banner">
        CANCELADO
      </div>

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalPedidoLabel">Pedido: {{pedidoSeleccionado.numeroPedido}}
          <span [ngClass]="colorEstado(pedidoSeleccionado)">({{pedidoSeleccionado.estado}})</span>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="text-decoration-underline">Datos cliente:</h5>
        <p class="mb-1">Nombre: {{pedidoSeleccionado.usuario.nombre}} {{pedidoSeleccionado.usuario.apellido}}</p>
        <p class="mb-1">Email: {{pedidoSeleccionado.usuario.email}}</p>
        <p class="mb-1">Teléfono: {{pedidoSeleccionado.usuario.telefono}}</p>
        <h5 class="text-decoration-underline">Productos:</h5>
        <div class="d-flex justify-content-between mb-1" *ngFor="let item of pedidoSeleccionado.items">
          <p class="mb-1">- {{item.producto.nombre}} x ({{item.producto.cantidad}})</p>
          <p class="mb-1">Cantidad: {{item.cantidad}}</p>
        </div>
        <div class="d-flex justify-content-between mb-3">
          <h5 class="text-decoration-underline mb-1">Total</h5>
          <h5 class="mb-1">{{pedidoSeleccionado.total | currency:'USD':'symbol'}}</h5>
        </div>
        <div class="d-flex justify-content-center gap-2" *ngIf="pedidoSeleccionado.estado !== 'CANCELADO'">
          <button type="button" class="btn_card col-5" data-bs-dismiss="modal" (click)="cambiarEstado()">
            Cambiar estado
          </button>
          <button type="button" class="btn_card col-5 btn-cancel" data-bs-dismiss="modal" (click)="cancelarPedido()">
            Cancelar pedido
          </button>
        </div>
      </div>
    </div>
  </div>
</div>