<div class="container-carrito">
  <div class="container my-4">
    @if (itemsCarrito.length !== 0) {
    <h1>Mi pedido</h1>
    <div class="row justify-content-between px-2">
      <div class="col-md-7 carrito mb-2">
        @for (item of itemsCarrito; track $index) {
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-start w-100">
          <p class="m-0 w-100 w-md-auto">{{$index+1}} - {{item.producto.nombre}}</p>
          <div class="d-flex justify-content-between w-100 w-md-auto">
            <p class="m-0 mx-3">Cant. {{item.cantidad}}</p>
            <p class="m-0">
              {{item.producto.precio * item.cantidad | currency:'USD':'symbol'}}
              <span class="text-danger delete-icon" (click)="eliminarDelCarro(item.producto)"><i
                  class="bi bi-trash"></i></span>
            </p>
          </div>
        </div>
        <hr>
        }
      </div>
      <div class="col-md-4 carrito align-self-start">
        <h3>Total: {{total | currency:'USD':'symbol'}}</h3>
        <div class="d-flex justify-content-center">
          <button (click)="vaciarCarrito()" class="btn_card m-1 btn_red">Vaciar carito</button>
          <button class="btn_card m-1 btn_green" data-bs-toggle="modal" data-bs-target="#exampleModal">Finalizar
            pedido</button>
        </div>
      </div>
    </div>
    }
    @else {
    <h1 class="text-center">No se han agregado productos hasta el momento...</h1>
    }
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Finalizar pedido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2 class="my-1 mb-3 text-center">Total a abonar: {{total | currency:'USD':'symbol'}}</h2>
        <label for="nombreCompleto" class="form-label">Nombre y apellido:</label>
        <input [formControl]="nombreCompleto" type="text" class="form-control" placeholder="Nombre completo"
          aria-label="Nombre completo" aria-describedby="button-addon2" id="nombreCompleto">
          @if (nombreCompleto.invalid) {
            <p class="text-danger m-0 ms-1"><small>Debe ingresar al menos un nombre y un apellido.</small></p>
          }
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-secondary btn_modal" type="submit" data-bs-dismiss="modal"
            (click)="finalizarCompra()" [disabled]="nombreCompleto.invalid">Enviar</button>
        </div>
    </div>
  </div>
</div>