.container-carrito{
  background-color: var(--bg-grey);
  border-top: 1px solid #ccc;
}

.carrito{
  background-color: white;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn_red:hover{
  background-color: rgb(179, 87, 87);
  color: white;
}

.btn_red:active{
  background-color: rgb(167, 43, 43);
}

.btn_green:hover{
  background-color: rgb(71, 130, 73);
  color: white;
}

.btn_green:active{
  background-color: rgb(24, 146, 28);
}

.delete-icon{
  cursor: pointer;
}