.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accion-link {
  cursor: pointer;
  font-size: 1.2rem;
}

.accion-link:hover {
  color: #007bff;
}

@media (max-width: 768px) {
  .table-responsive {
    display: none;
  }
}

.accion-link {
  cursor: pointer;
}

.btn_card {
  width: 150px;
}