.img-card{
  border-radius: 2px 2px 0 0;
  width: 100%;
}

.btn_modal{
  background-color: white;
  color: var(--verde-pistachio);
  border: 2px solid var(--verde-pistachio);
  border-radius: 3px;
}

.btn_modal:disabled {
  color: var(--verde-pistachio-inactivo);
  border: var(--verde-pistachio-inactivo);
  border: 2px solid var(--verde-pistachio-inactivo);
}

.btn_modal:hover{
  background-color: var(--verde-pistachio);
  color: white;
}

.img-modal{
  width: 100%;
  border-radius: 3px;
}

.modal.fade .modal-dialog {
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  transform: scale(0.8);
  opacity: 0;
}

.modal.show .modal-dialog {
  transform: scale(1);
  opacity: 1;
}

.modal.fade:not(.show) .modal-dialog {
  transform: scale(0.8);
  opacity: 0;
}