<header class="sticky-top">
  @if (!esAdmin) {
  <nav class="navbar navbar-expand-lg py-0">
    <div class="container py-2">
      <a class="navbar-brand" href="#"><img src="logo-pistachio.webp" alt="imagen-logo" class="img-nav"> PISTACHIO - Tu
        mix natural</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 m-auto">
          <form class="d-flex">
            <div class="search-container">
              <input type="text" class="search-input" placeholder="Buscar" [formControl]="filtro">
              <button class="search-button" [disabled]="filtro.value === ''" (click)="buscarProductos()">
                <i class="bi bi-search text-secondary"></i>
              </button>
            </div>
          </form>
        </ul>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorías
          </a>
          <ul class="dropdown-menu">
            @for (categoria of categorias; track $index) {
            <li><a class="dropdown-item nav-category" [routerLink]="'/categorias/' + categoria.id"
                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                {{ categoria.nombre }}
              </a></li>
            }
          </ul>
        </div>
        @if (!esAdmin) {
        <div>
          <p class="m-0"><a routerLink="/carrito" class="nav-link" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"><i class="bi bi-cart me-1 position-relative">
                @if (cantidadCarrito !== 0) {
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  {{cantidadCarrito}}
                  <span class="visually-hidden">unread messages</span>
                </span>
                }
              </i>
              {{ totalCarrito | currency:'USD':'symbol' }}</a></p>
        </div>
        }
        @else {
        <p class="m-0"><a (click)="cerrarSesion()" class="nav-link">Cerrar sesión</a></p>
        }
      </div>
    </div>
  </nav>
  <nav class="container d-flex justify-content-evenly align-items-center py-2 flex-wrap gap-2 nav_links_cat">
    @for (categoria of categorias; track $index) {
    <p class="m-0">
      <a class="nav-link nav-category mx-2" [routerLink]="'/categorias/' + categoria.id">
        {{ categoria.nombre }}
      </a>
    </p>
    }
  </nav>
  }
  @else{
  <nav class="navbar navbar-expand-lg py-0">
    <div class="container py-2">
      <a class="navbar-brand" routerLink="/administrador"><img src="logo-pistachio.webp" alt="imagen-logo" class="img-nav"> PISTACHIO - (ADMINISTRADOR)</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/administrador/productos">Gestionar productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/administrador/pedidos">Gestionar pedidos</a>
          </li>
        </ul>
        <p class="m-0"><a (click)="cerrarSesion()" class="nav-link">Cerrar sesión</a></p>
      </div>
    </div>
  </nav>
  }
</header>